body{
    background: linear-gradient(#c0c8ca, #1a2d42);
    height: auto;
}

.fa-brands{
    color: #007bff;
}

#espacio{
    width: 28rem;    
}

footer{
    padding: 10px;
    margin: 0;
}
